@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #536976; 
    background: -webkit-linear-gradient(to right, #fff, #ffffff); 
    background: linear-gradient(to right, #ffff, #fff); 
    font-family: 'Poppins', sans-serif;
}



.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container header {
    width: 100%;
    height: 64px;
    display: flex;
    position: relative;
    top: 10px;
    padding: 0px 50px;
    justify-content: space-between;
    align-items: center;
}

.container header a {
    color: #5F6368;
    font-size: 29px;
    font-weight: 600;
    text-align: start;
    transition: .3s ease;
    text-decoration: none;
}

.container header nav {
    width: auto;
    height: auto;
    position: relative;
}

.container header nav ul {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container header nav ul li {
    list-style: none;
    transition: .3s ease;
}

.container header nav ul li i {
    font-size: 27px;
    cursor: pointer;
    color: #1a1a1a;
}

/* Theme Dark */
.bx {
  cursor: pointer;
  transition: .3s ease;
}

.sun {
  display: none;
}

.main {
    width: 100%;
    height: 522.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 48px;
    position: relative;
    top: 10px;
    flex: 1;
}

.container-translator {
    width: 1000px;
    height: auto;
    position: relative;
    bottom: 100px;
}

.lang-select {
    gap: 10px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lang-select select {
    width: 100%;
    max-width: 45%;
    height: 100%;
    color: #0866ff;
    font-size: 15px;
    font-weight: 600;
    text-align: start;
    display: flex;
    padding: 6px 20px;
    cursor: pointer;
    transition: .3s ease;
    justify-content: space-around;
    border: 1px solid transparent;
    outline: none;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 0.1);
}

.lang-select .left {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.lang-select .right {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    
}

.content-left {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
        box-shadow:
        0 5px 25px rgba(255, 255, 255, 02), 
        0 8px 20px rgba(0, 0, 0, 0.4); 
}

.lang-select svg {
    cursor: pointer;
}

.lang-select svg path {
    width: 24px;
    height: 24px;
}

.container-info {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.container-info textarea {
    width: 100%;
    max-width: 45%;
    height: 166px;
    border: none;
    resize: none;
    font-size: 24px;
    font-weight: 500;
    text-align: start;
    color: #5F6368;
    padding: 10px 20px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 0.1);
}

::placeholder {
    color: #5F6368;
}

.lang-select  option {
    color: #5F6368;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    border: none;
    outline: none;
}

/* Footer */
footer {
  width: 100%;
  height: auto;
  padding: 15px 50px;
  position: relative; 
  top: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-footer .networks {
  gap: 20px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-footer .networks li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-footer .networks li i {
  font-size: 27px;
  cursor: pointer;
  color: #1a1a1a;
}

.container-footer a {
  color: #5F6368;
  font-size: 16px;
  font-weight: 700;
  text-align: start;
  text-decoration: none;
}

@media (max-width: 900px) {
  .container header {
    padding: 0 25px;
  }

  .container header a {
    font-size: 25px;
  }

  .container header nav ul li i {
    font-size: 24px;
  }

  .container-info textarea {
    font-size: 18px;
  }
}

@media (max-width: 700px) {
  .main {
    padding: 0 20px;
  }

  .lang-select {
    flex-direction: column;
    height: auto;
    gap: 15px;
  }

  .lang-select select {
    max-width: 100%;
  }

  .lang-select svg {
    transform: rotate(90deg);
  }

  .container-info {
    flex-direction: column;
    align-items: center;
  }

  .container-info textarea {
    max-width: 100%;
    height: 160px;
  }
}

@media (max-width: 450px) {
  .container header {
    flex-direction: column;
    height: auto;
    gap: 10px;
    padding: 10px;
  }

  .container header a {
    font-size: 24px;
  }

  .container header nav ul {
    gap: 15px;
  }

  .container-info textarea {
    font-size: 16px;
    height: 140px;
  }
}